@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
body {
  /* background-color: whitesmoke; */
  font-family: "Orbitron", sans-serif;
  color: whitesmoke;
  background-color: #121212;
}

.formSelectPlayers {
  color: whitesmoke;
}

.sfondoBase {
  background-color: #121212;
}
.fuoco {
  background-image: url("../img/gifFuoco.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.ghiaccio {
  background-image: url("../img/sfondoGhiaccio.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.oscurita {
  background-image: url("../img/sfondoOscurità6.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.rotated {
  transform: rotate(90deg);
  z-index: 2;
  font-size: 3vh;
}
